.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1b2735;
    color: white;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
  }
  
  .navbar-brand {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .navbar-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }
  